:host {
  width: 100%;
  display: block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.bottom-main-content {
  display: flex;
  flex-direction: column; /* أو row لو الشاشة كبيرة */
  gap: 20px;
  margin-top: 20px;
}

.recent-transaction {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  h3 {
    color: #201e34;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #29a073;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

/* ... your existing card styles ... */

.chart-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  min-width: 250px;
  overflow: hidden;
  margin-bottom: 20px; /* Added spacing */
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Increased margin for better look */
}

.chart-header h3 {
  margin: 0;
  font-size: 18px;
  color: #201e34;
  font-weight: 700;
}

.chart-header select {
  padding: 8px 12px;
  border-radius: 12px;
  color: #201e34;
  background-color: #f8f8f8;
  border: 1px solid #bdbaba;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.chart-body {
  position: relative;
  width: 100%;
  min-height: 200px;
}
