@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: grid;
  min-height: 100vh;
}

.layout-pages,
.layout-dashboard {
  grid-template-columns: 250px 1fr;
}

.sidebar {
  background-color: #f5f7fa;
  border-right: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar p {
  font-family: "Outfit", sans-serif;
}

.logo {
  background-color: transparent;

  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  color: #201e34;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1px;
  font-family: "Outfit", sans-serif;
  width: fit-content;
  position: relative;
  justify-content: center;
  transition: all 0.3s ease;
}
.logo-symbol {
  color: #c8ee44;
}

.logo:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.sidebar-element {
  width: 100%;
}

.sidebar-element a {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 5px;
  color: #929eae;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.active-link {
  padding: 12px 20px !important;
  color: #201e34 !important;
  font-weight: 400 !important;
  background-color: #c8ee44 !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.sidebar-element a:hover {
  transform: translateY(-2px);
}

.sidebar-element i {
  margin-right: 12px;
  font-size: 24px;
}

.spacer {
  flex-grow: 1;
}

.main-content {
  padding: 40px 30px 20px 30px;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.top-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.top-header p {
  font-size: 28px;
  color: #201e34;
  font-weight: 500;
  margin-bottom: 15px;
  margin-right: 150px;
}

.header-actions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.search-box {
  transition: all 0.4s ease;
  padding: 5px;
  width: 40px;
  overflow: hidden;
}

.search-box input {
  width: 0;
  opacity: 0;
  padding: 0;
  transition: all 0.4s ease;
}

.search-box.active {
  width: 250px;
  padding: 8px 15px;
}

.search-box.active input {
  width: 100%;
  opacity: 1;
}

.profile-section {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f5f7fa;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.profile-section:hover {
  transform: translateY(-3px);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  flex: 1;
  border-radius: 20px;
  width: 30%;

  min-width: 260px;
  flex: 1 1 260px;
  height: 90px;
  transition: transform 0.3s ease;
  border: 1px solid transparent;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 20px;
  padding: 0;
  flex-shrink: 0;
}

.card-icon i {
  font-size: 28px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.card-content .card-title {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
  line-height: 1;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.card-content .card-value {
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.dark-card {
  background-color: #1a1b25;
  border: 1px solid #1a1b25;
  box-shadow: 0 10px 30px -10px rgba(32, 30, 52, 0.6);
}

.dark-card .card-value {
  color: #ffffff;
}

.dark-card .card-icon {
  background-color: rgba(255, 255, 255, 0.2);
  color: #c8ee44;
}

.light-card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.light-card .card-value {
  color: #1a1a1a;
}

.light-card .card-icon {
  background-color: #dfe5ee;
  color: #201e34;
}

.bottom-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  min-height: 0;
}

.chart-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  border: 1px solid #ddd;
  min-width: 250px;
  overflow: hidden;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chart-header h3 {
  margin: 0;
  font-size: 18px;
  color: #201e34;
}

.chart-header select {
  padding: 8px;
  border-radius: 12px;
  padding-right: 12px;
  color: #201e34;
  background-color: rgb(248, 248, 248);
  border: 1px solid #bdbaba;
}

.chart-body {
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-height: 0;
}

.recent-transaction {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.transaction-header a {
  text-decoration: none;
  color: #29a073;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.transaction-table th {
  color: #929eae;
}
