<aside class="sidebar">
  <div class="logo">
    <a routerLink="/dashboard">
      <p><span class="logo-symbol">F</span>lux</p>
    </a>
  </div>
  <div class="sidebar-element">
    <a routerLink="/dashboard" class="active-link">
      <i class="bx bxs-home"></i>
      <p>Dashboard</p>
    </a>
  </div>

  <div class="sidebar-element">
    <a routerLink="/Transactions">
      <i class="bx bx-transfer"></i>
      <p>Transactions</p>
    </a>
  </div>

  <div class="sidebar-element">
    <a routerLink="/Wallets">
      <i class="bx bxs-wallet"></i>
      <p>My Wallets</p>
    </a>
  </div>

  <div class="sidebar-element">
    <a routerLink="/Settings">
      <i class="bx bxs-cog"></i>
      <p>Settings</p>
    </a>
  </div>

  <div class="sidebar-element">
    <a routerLink="/Planning">
      <i class="bx bx-trending-up"></i>
      <p>Planning</p>
    </a>
  </div>

  <div class="spacer"></div>

  <div class="sidebar-element">
    <a routerLink="/Help">
      <i class="bx bxs-help-circle"></i>
      <p>Help</p>
    </a>
  </div>

  <div class="sidebar-element">
    <a routerLink="/Login">
      <i class="bx bx-log-out"></i>
      <p>Logout</p>
    </a>
  </div>
</aside>
