:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-card {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.icon-box {
  width: 60px;
  height: 60px;
  background-color: #f5f7fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;

  i {
    font-size: 30px;
    color: #201e34;
  }
}

h2 {
  font-size: 28px;
  color: #201e34;
  margin-bottom: 10px;
}
p {
  color: #64748b;
  margin-bottom: 30px;
}

.back-link {
  color: #201e34;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 5px;

  &:hover {
    text-decoration: underline;
  }
}
