* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: grid;
  min-height: 100vh;
}

.main-content {
  padding: 20px 25px;
  padding-top: 30px;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.layout-dashboard {
  grid-template-columns: 250px 1fr;
}
